#:schema node_modules/wrangler/config-schema.json
name = "worker-json-base"
main = "dist/index.js"
compatibility_date = "2024-05-02"
compatibility_flags = ["nodejs_compat"]

[vars]
ENVIRONMENT = "development"
VERSION = "2.0.0"

[[kv_namespaces]]
binding = "JSONBIN"
id = "jsonbin"
preview_id = "jsonbin_preview"